*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Poppins", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  color: white;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.Card {
  position: relative;
  width: 300px;
  height: 350px;
  transform-style: preserve-3d;
  transition: all 1s ease;
  cursor: pointer;
}
.Card:hover {
  transform: rotateY(180deg);
}
.faceFront {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  font-size: 2.5em;
  backface-visibility: hidden !important;
  color: black;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  border-radius: 0.5rem;
}
.faceFront .Avatar {
  width: 150px;
  height: 150px;
  margin: 20px 0 15px 0;
  position: relative;
}
.Avatar::before {
  position: absolute;
  content: "";
  top: -3.25%;
  left: -3.5%;
  width: 160px;
  height: 160px;
  border-radius: 10rem;
  box-shadow: 0 0 30px 0 rgba(51, 50, 50, 0.507);
}
.Avatar img {
  width: 100%;
  height: 100%;
  border-radius: 10rem;
}
.Content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.Content div {
  font-size: 13px;
  text-transform: none;
  text-align: center;
}
.Content div:nth-child(1) {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.774);
}

.faceBack {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  color: white;
  font-size: 2.5em;
  text-transform: uppercase;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
